@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.TextPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "layout.cshtml";
}

<!-- Default header for text pages -->
<section class="section section--themed section--header section--content-center-bottom">
    <div class="section__hero-content">
        <!-- Replace with "PageName" value -->
        <h1 class="no-air">@Model.Name</h1>
    </div>
</section>
<!-- End of header section-->

<section class="section">
    <div class="container">

        <!-- Beginning of Textpage content section -->
        <div class="col-md-9">
            <article>
                <!-- Replace with "bodyText" value -->
                <p>@Model.BodyText</p>
            </article>
        </div>
        <!-- End of Textpage content section -->

        <!-- Beginning of secondary navigation -->
        <div class="col-md-3">
            <nav class="nav-bar nav-bar--list">
                @foreach(var child in Model.AncestorOrSelf(2).Children()){
                    <a class="nav-link nav-link--black nav-link--air-bottom  @child.IsAncestorOrSelf(Model, "nav-link--active")" href="@child.Url" > @child.Name</a>
                }
                
            </nav>
        </div>
        <!-- End of secondary navigation -->

    </div>
</section>
